.landingPageContainer {
    width: 100vw;
    min-height: 100vh;
    background: url("/public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.landingPageContainer nav{
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPageContainer nv h2{
    font-size: 1.8rem;
    font-weight: 500;
}

.landingMainContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    height: 80vh;
    align-items: center;
}

.landingMainContainer > div:nth-child(1){
    font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] {
    background: #D97500;
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

.landingMainContainer > div:nth-child(2) img{
    height: 70vh;
    width: auto;
    padding: 1rem;
}

.landingPageContainer nav .navlist{
    display: flex;
    gap: 1.6rem;
    cursor: pointer;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    text-align: center;
}

.meetContainer{
    display: flex;
    padding-inline: 20px;
    height: 80vh;
    gap: 10vw;
    justify-content: center;
}
.leftPanel{
    height: 100%;
    display: flex;
    align-items: center;
}
.rightPanel {
    display: flex;
    align-items: center;
}
.rightPanel > img {
    width: 30vw;
    height: auto;
    border-radius: 20px;
}

/*        MOBILE FIX          */
/* -------------------------- */

@media (max-width: 768px) {
    .landingMainContainer {
        flex-direction: column-reverse;
        text-align: center;
        padding: 1rem;
        gap: 2rem;
        height: auto;
    }

    .landingMainContainer > div:nth-child(1) {
        font-size: 1.6rem;
    }

    .landingMainContainer > div:nth-child(1) div[role='button'] a {
        font-size: 1.2rem;
    }

    .landingMainContainer > div:nth-child(2) img {
        height: 300px;
        padding: 0;
    }

    .landingPageContainer nav .navlist {
        gap: 0.8rem;
    }
}

@media (max-width: 480px) {
    .landingMainContainer > div:nth-child(1) {
        font-size: 1.4rem;
    }

    nav h2 {
        font-size: 1.3rem;
    }
}